html, body {
	background-color: #334873;
	background-image: url(../img/lucid-bg.png);
	line-height: 1;
}

article {
	max-width: 760px;
	margin: 20px 0 0 100px;
}

header {
	border-top: solid 6px white;
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
	position: relative;
}

section {
	padding-bottom: 3em;
	border-bottom: solid 1px rgba(255,255,255,.5);
}

footer {
	left: 100px;
	width: 100%;
	bottom: 0;
	position: fixed;
	padding-top: 18px;
	background: url(../img/lucid-ft.png) repeat-x left top;
}

footer p {
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	font-size: 14px;
	padding: .5em .25em .5em 1em;
	margin: 0;
	color: rgb(55,76,119);
	background: rgb(110,138,195);
	-moz-border-radius: 2px 0 0 0;
	border-radius: 2px 0 0 0;
}

h1, h2, h3 {
	font-family: 'ColaborateRegular', Arial, sans-serif;
}

h1 {
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	border-bottom: solid 1px rgba(255,255,255,.5);
	margin-bottom: 0.75em;
}

h2 {
	color: rgb(143,180,255);
	margin-bottom: 5px;
	font-size: 22px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}

h3 {
	font-size: 18px;
	color: rgb(227,198,133);
}

p, form, legend, li {
	font-size: 18px;
	color: white;
	line-height: 125%;
	margin-bottom: 10px;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
}

a {
	color: rgba(255,255,255,.75);
}

em {
	font-family: 'ColaborateThinRegular', Arial, sans-serif;
}

strong {
	font-family: 'ColaborateMediumRegular', Arial, sans-serif;
}

fieldset {
	padding: 10px;
	border: 1px solid white;
	margin: 25px 0;
}

#stardate_error {
	margin-top: 2px;
	font-size: 0.8em;
	color: rgb(395,151,51);
	font-weight: bold;
	margin-left: 215px;
	margin-left: 0;
}

.colorLabel {
	color: rgb(227,198,133);
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}

.fact {
	color: rgb(227,198,133);
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	text-decoration: underline;
}

#test_guide {
	max-width: 330px;
	padding-right: 10px;
	position: absolute;
	padding-bottom: 50px;
	right: 0px;
	bottom: 0px;
}

.stardateFormat {
	background-color: #000000;
	color: yellow;
}

table, td, th {
	border: 1px solid black;
}

/* Start: Navigation Pullout */

#areas {
	background-color: rgba(255,255,255,0.95);
	padding: 0em 1em 1em .75em;
	position: absolute;
	top: 10em;
	left: -51em;
	width: 50em;
	-moz-border-radius: 0 0 .5em 0;
	border-radius: 0 0 .5em 0;
}

#areas h2 {
	text-transform: uppercase;
	color: rgb(195,151,51);
	text-shadow: 2px 2px 1px rgba(0,0,0,.25);
	border-bottom: solid 1px rgba(255,255,255,.5);
	font: normal 18px 'ColaborateRegular', Arial, sans-serif;
	margin-top: 1em;
	text-shadow: none;
}

#areas ul {
	margin: 5px 0 0 0;
}

#areas .open {
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	right: -20px;
	top: -20px;
	background-color: rgba(255,255,255,0.8);
	color: rgb(119,104,71);
	-moz-border-radius: 0.5em;
	border-radius: .5em 0;
	cursor: pointer;
	line-height: 100%;
}

#areas .nav {
	margin: 10px 0 0 100px;
}

#areas .nav li {
	display: inline-block;
}

#areas .nav a {
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	background-color: rgba(107,124,159,.75);
	color: rgb(255,255,255);
	padding: .25em .5em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
}

#areas .nav a:hover {
	background-color: rgba(255,255,255,.85);
	color: rgb(0,0,0);
}

/* Finish: Navigation Pullout */


/* Start: Warp Calc Table */

.warpTable td {
	text-align: center;
	padding: 10pt 2pt;
	vertical-align: middle;
	
	background: -o-linear-gradient(bottom, #56beff 5%, #ffffff 100%);
	background: -o-linear-gradient(top,#56beff,ffffff);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56beff), color-stop(1, #ffffff) );
	background: -moz-linear-gradient( center top, #56beff 5%, #ffffff 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56beff", endColorstr="#ffffff");
	
	background-color: #56beff;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	
	padding: 7px;
	
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

.warpTable input {
	text-align: center;
}

.warpTable {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

/* Finish: Warp Calc Table */

/* Start: Warp Factor Table */

.warpfactor {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: 0px solid #000000;
	
	-moz-border-radius-bottomleft: 25px;
	-webkit-border-bottom-left-radius: 25px;
	border-bottom-left-radius: 25px;
	
	-moz-border-radius-bottomright: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border-bottom-right-radius: 25px;
	
	-moz-border-radius-topright: 25px;
	-webkit-border-top-right-radius: 25px;
	border-top-right-radius: 25px;
	
	-moz-border-radius-topleft: 25px;
	-webkit-border-top-left-radius: 25px;
	border-top-left-radius: 25px;
}

.warpfactor table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.warpfactor tr:last-child td:last-child {
	-moz-border-radius-bottomright: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.warpfactor table tr:first-child td:first-child {
	-moz-border-radius-topleft: 25px;
	-webkit-border-top-left-radius: 25px;
	border-top-left-radius: 25px;
}

.warpfactor table tr:first-child td:last-child {
	-moz-border-radius-topright: 25px;
	-webkit-border-top-right-radius: 25px;
	border-top-right-radius: 25px;
}

.warpfactor tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 25px;
	-webkit-border-bottom-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.warpfactor tr:nth-child(odd) { background-color:#56aaff; }
.warpfactor tr:nth-child(even) { background-color:#007fff; }

.warpfactor td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 8px;
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #ffffff;
}

.warpfactor tr:last-child td { border-width: 0px 1px 0px 0px; }
.warpfactor tr td:last-child { border-width: 0px 0px 1px 0px; }
.warpfactor tr:last-child td:last-child { border-width: 0px 0px 0px 0px; }

/*.warpfactor th:first-child td {*/
.warpfactor thead:first-child th {
	background: -o-linear-gradient(bottom, #0000bf 5%, #5656ff 100%);
	background: -o-linear-gradient(top,#0000bf,5656ff);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000bf), color-stop(1, #5656ff) );
	background: -moz-linear-gradient( center top, #0000bf 5%, #5656ff 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000bf", endColorstr="#5656ff");
	
	background-color: #0000bf;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

/* Finish: Warp Factor Table */

.site_button {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background: -moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color: #79bbff;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	text-indent: 0;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	height: 28px;
	line-height: 28px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #528ecc;
}

.site_button:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background: -moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color: #378de5;
}

.site_button:active {
	position: relative;
	top: 1px;
}

/* Start: Header Logo */

.logo {
	letter-spacing: -1px;
	color: rgb(195,151,51);
	text-shadow: 2px 2px 1px rgba(0,0,0,.25);
	font: normal 54px 'ColaborateThinRegular', Arial, sans-serif;
}

.logo span {
	font-size: 24px;
	color: rgb(119,104,71);
	top: -0.18em;
	display: inline-block;
	text-shadow: none;
	position: relative;
	font-family: 'ColaborateRegular', Arial, sans-serif;
}

.logo span.subtitle {
  font-style: italic;
	font-size: 16px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	top: 0.1em;
	left: 0.5em;
	line-height: 90%;
	text-align: right;
	background-color: rgb(110,138,195);
	padding: .25em .5em .25em 1em;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.75);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.75);
	box-shadow: 1px 1px 2px rgba(0,0,0,.75);
}

/* Finish: Header Logo */
