<section>

<h1>Fluency</h1>
<h2>A Test App for Fluent</h2>

<h3>Purpose</h3>

<p id="purpose" name="purpose" class="purpose">This is a <em>test application</em> for the <strong>Fluent</strong> framework.</p>

</section>
