
<section>

<div id="container">
<table id="star_trek_novels" border="0" cellpadding="0" cellspacing="0" class="nice_table">
  <thead>
    <tr>
      <th>Series</th>
      <th>Title</th>
      <th>Released</th>
      <th>Timeframe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Next Generation</td>
      <td>Engines of Destiny</td>
      <td>2005 March</td>
      <td>2293, 2369, 2370</td>
    </tr>
    <tr>
      <td>Deep Space Nine</td>
      <td>Emissary</td>
      <td>1993 February</td>
      <td>2369</td>
    </tr>
    <tr>
      <td>The Original Series</td>
      <td>The Entropy Effect</td>
      <td>1981 June</td>
      <td>2270</td>
    </tr>
    <tr>
      <td>Voyager</td>
      <td>Chrysalis</td>
      <td>1997 March</td>
      <td>2372 June</td>
    </tr>
    <tr>
      <td>Enterprise</td>
      <td>Surak's Soul</td>
      <td>2003 March</td>
      <td>2152</td>
    </tr>
    <tr>
      <td>The Next Generation</td>
      <td>Death in Winter</td>
      <td>2005 February</td>
      <td>2379</td>
    </tr>
    <tr>
      <td>The Next Generation</td>
      <td>Nemesis</td>
      <td>2002 December</td>
      <td>2379</td>
    </tr>
    <tr>
      <td>Titan</td>
      <td>Taking Wing</td>
      <td>2005 April</td>
      <td>2379, 2380</td>
    </tr>
    <tr>
      <td>The Original Series</td>
      <td>Killing Time</td>
      <td>1985 July</td>
      <td>2269</td>
    </tr>
    <tr>
      <td>Vanguard</td>
      <td>Harbinger</td>
      <td>2005 August</td>
      <td>2265</td>
    </tr>
    <tr>
      <td>The Next Generation</td>
      <td>Vendetta</td>
      <td>1991 May</td>
      <td>2367</td>
    </tr>
    <tr>
      <td>Deep Space Nine</td>
      <td>Trials and Tribble-ations</td>
      <td>1996 December</td>
      <td>2373, 2267</td>
    </tr>
    <tr>
      <td>Enterprise</td>
      <td>Daedalus's Children</td>
      <td>2004 May</td>
      <td>2153</td>
  </tbody>
  <tfoot>
    <tr>
      <th>Series</th>
      <th>Title</th>
      <th>Released</th>
      <th>Timeframe</th>
    </tr>
  </tfoot>
</table>
</div>

</section>
