
<section>

<form id="computeStardate" name="computeStardate" method="get" action="">
  <fieldset>
    <legend>Stardate Calculator</legend>
    
    <div id="stardateForm">
      <span id="stardate_instruct">Choose a stardate era.</span>
      <br />
      <input id="stardateValue" name="stardateValue" size="15" type="text" required>
      <input id="convert" type="submit" class="site_button" value="Convert">
      <span id="stardate_error"></span>
      <br/><br/>
      <input id="calendarValue" name="calendarValue" size="70" type="text" readonly="readonly" class="stardateFormat">
    </div>
  </fieldset>
  
  <input type="checkbox" name="stardatesPerYear" id="stardatesPerYear" value="stardatesPerYear" />
  <label for="stardatesPerYear" id="perYearLabel" class="colorLabel">Use Stardates per Year?</label>
  <br />
  <input type="radio" id="tngEra" name="selectEra" value="tng" disabled="disabled" title="Use TNG Stardates">
  <label for="tng" id="tngEraLabel" class="colorLabel">TNG Era</label>
  <br />
  <input type="radio" id="tosEra" name="selectEra" value="tos" disabled="disabled" title="Use TOS Stardates">
  <label for="tos" id="tosEraLabel" class="colorLabel">TOS Era</label>
</form>

<hr />

<input type="checkbox" name="enableForm" id="enableForm" value="enableForm" />
<label for="enableForm" class="colorLabel">Enable Form</label>

<br /><br />

<p>The basis of this calculator are the following facts:</p>

<ul id="fact_list" name="fact_list">
<li><span class="fact">Fact:</span> The <em>Next Generation</em> episode "The Neutral Zone," with a stardate of 41986.0, gave the calendar year as 2364 at the end of the first season.</li>
<li><span class="fact">Fact:</span> In the <em>Voyager</em> episode "Eye of the Needle" Commander Chakotay states that the current year is 2371, with a stardate of 48579.4.</li>
<li><span class="fact">Fact:</span> The date for the <em>Voyager</em> episode "11:59" was given as 22 April 2375. (No stardate was given in the episode, but episodes airing before and after it had stardates of 52647 and 52861.274.)</li>
<li><span class="fact">Fact:</span> The movie <em>Star Trek: First Contact</em> showed that humans made first contact with Vulcans on 5 April 2063.</li>
<li><span class="fact">Fact:</span> In the <em>Voyager</em> episode "Homestead" the crew is celebrating the 315th anniversary of First Contact Day. The following day, a captain's log is recorded on stardate 54868.6.</li>
<li><span class="fact">Fact:</span> In the <em>Voyager</em> episode "Q2", Icheb states that Kirk completed his historic five-year mission in 2270. Therefore, all episodes of The Original Series must have taken place after 1 January 2265 (assuming it was exactly five years), and before 1 January 2271.</li>
<li><span class="fact">Fact:</span> In the <em>Next Generation</em> episode "Sarek", Captain Picard states that Ambassador Sarek is 202 years old. The episode takes place on stardate 43917.4.</li>
<li><span class="fact">Fact:</span> In the <em>Original Series</em> episode "Journey to Babel", Ambassador Sarek states that he is precisely 102.437 Earth years old on stardate 3842.4.</li>
<li><span class="fact">Fact:</span> The difference in time between stardate 43917.4 ("Sarek") and 3842.4 ("Journey to Babel") is approximately 100 years.</li>
</ul>

</section>
